<!-- Header -->
<div style="height: 49px;"></div>
<div class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full max-w-md bg-white border-t border-gray-200" style="z-index: 99;">
    <!-- Header -->
    <div class="flex items-center p-3 bg-white border-b border-gray-200">
        <i class="fas fa-arrow-left text-gray-600 text-md" id="i_header_page_goback" onclick="window.history.back()"></i>
        <h1 class="text-md text-gray-900 ml-2" id="h1_header_page_title">-</h1>
        <div class="w-6"></div>
    </div>
</div>